.Body {
  background-color: #282c34;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  color: white;
}

.Welcome {
  height: 100vh;
  width: 100vw;
  text-align: center;
  padding: 2em;
  justify-content: center;
  background-color: #282c34;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  animation: Welcome-fade;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-delay: 3s;
}
@keyframes Welcome-fade {
  from {
    transition: opacity 0.5s;
    opacity: 1;
  }
  to {
    opacity: 0;
    pointer-events: none;
  }
}

.App {
  height: 90.25vh;
  width: 95.3vw;
  text-align: center;
  padding: 2em;
  justify-content: center;
  background-color: #282c34;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  animation: App-fade;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes App-fade {
  from {
    opacity: 0;
    pointer-events: none;
  }
  to {
    transition: opacity 0.5s;
    opacity: 1;
  }
}

.Content {
  text-align: center;
  padding: 2em;
  justify-content: center;
  width: 90vw;
}

.App-Nav {
  width: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
    border-radius: 100%;
  }
}

.appbutton {
  border-radius: 10%;
  background-color: white;
  height: 3em;
  width: 6em;
  font-size: 20px;
  border: purple;
  margin: .5em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
